%h1 FreeType
.br
.br

%p#text


%table.table
  %tbody
    %tr
      %th 
      %th 1(m)
      %th 2(i)
      %th 3(o)
      %th 4(p)
      %th 5([) 
    %tr.l5
      %th 5(q)
      %td.r1 u
      %td.r2 v
      %td.r3 w
      %td.r4 x
      %td.r5 y 
    %tr.l4
      %th 4(w)
      %td.r1 p
      %td.r2 q
      %td.r3 r
      %td.r4 s
      %td.r5 t
    %tr.l3
      %th 3(e)
      %td.r1 k
      %td.r2 l
      %td.r3 m
      %td.r4 n
      %td.r5 o       
    %tr.l2
      %th 2(r)
      %td.r1 f
      %td.r2 g
      %td.r3 h
      %td.r4 i
      %td.r5 j
    %tr.l1
      %th 1(v)
      %td.r1 a
      %td.r2 b
      %td.r3 c
      %td.r4 d
      %td.r5 e
    %tr
      %th 
      %td.r1 space
      %td.r2 .
      %td.r3 ,
      %td.r4 '
      %td.r5 ;     

           




  
