%h1 FreeType
.br
.br

%p#text


%table.table.table-striped
  %tbody
    %tr
      %th 
      %th 1
      %th 2
      %th 3
      %th 4
      %th 5  
    %tr.l5
      %th 5
      %td.r1 u
      %td.r2 v
      %td.r3 w
      %td.r4 x
      %td.r5 y 
    %tr
      %th 4
      %td.r1 p
      %td.r2 q
      %td.r3 r
      %td.r4 s
      %td.r5 t
    %tr
      %th 3
      %td.r1 k
      %td.r2 l
      %td.r3 m
      %td.r4 n
      %td.r5 o       
    %tr
      %th 2
      %td.r1 f
      %td.r2 g
      %td.r3 h
      %td.r4 i
      %td.r5 j
    %tr
      %th 1
      %td.r1 a
      %td.r2 b
      %td.r3 c
      %td.r4 d
      %td.r5 e
    %tr
      %th 
      %td.r1 .
      %td.r2 ,
      %td.r3 .
      %td.r4 ;
      %td.r5       

           




  
